@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display:flex;
    flex-direction: column;
}

img{
    width: 50px;
    height:50px;
    background-color: white;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto, sans-serif ;
    background-color: #1F2937;
    
}